.Header{
    display: flex;
    height: 100px;
    justify-content: space-around;
    flex-direction: row;
    gap: 50px;
    align-items: center;

}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    width: 35%;
    position: relative;
    left: 250px;

}

a{
    color: snow;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    display: block;
    transition: 0.2;
}

a:hover{
    color: silver;
    transition: 0.2s;
}

.active{
    color: red;
    border-bottom: 2px solid silver;
    transition: 0.3s;
}


img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo{
    display: flex;
    position: relative;
    left: -270px;
    top: -15px;
}

.logo:hover{
    opacity: 0.7;
    transition: 0.3s;
}