.family{
    border: 2px solid gray;
    border-radius: 15px;
    padding: 25px;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.title{
    color: #388bfd;
}

.familypic{
    height: 300px;
    width: 350px;
}

.desc{
    color: #c9d1d9;
}